TLEDINDICATOR      RCDATA "TLEDIndicator.png"
TSEVENSEGMENT      RCDATA "TSevenSegment.png"
TKNOB              RCDATA "TKnob.png"
TSIMTOGGLESWITCH   RCDATA "TSimToggleSwitch.png"
TCIRCULARGAUGE     RCDATA "TCircularGauge.png"
TLINEARGAUGE       RCDATA "TLinearGauge.png"
TVUMETER           RCDATA "TVuMeter.png"
TCOMPASS           RCDATA "TCompass.png"
TAVIATORGAUGE      RCDATA "TAviatorGauge.png"
TSIMGROUPBOX       RCDATA "TSimGroupBox.png"
TSIMFADER          RCDATA "TSimFader.png"
TSIMPUSHBUTTON     RCDATA "TSimPushButton.png"
TSIMLEDBARGRAPH    RCDATA "TSimLedBarGraph.png"
TSIMOSCILLOSCOPE   RCDATA "TSimOscilloscope.png"
TSIMRADARSCREEN    RCDATA "TSimRadarScreen.png"
TSIMMATRIXPAD      RCDATA "TSimMatrixPad.png"
TSIMSELECTORSWITCH RCDATA "TSimSelectorSwitch.png"
TSIMTHROTTLELEVER  RCDATA "TSimThrottleLever.png"
TSIMJOYSTICK       RCDATA "TSimJoystick.png"
TSIMLCDDISPLAY     RCDATA "TSimLcdDisplay.png"
TSIMSAFETYSWITCH   RCDATA "TSimSafetySwitch.png"
TSIMAUDIOJACK      RCDATA "TSimAudioJack.png"
